
.item {
    margin: 0.2rem;
    padding: 0.2rem;
    background-color: #fff;
    border: 2px solid black;
    min-height: 3rem;
    position: relative;
    display: flex;
}

.photoBox {
    display: flex;
    position: relative;
    margin-left: 1rem;
    max-height: 3rem;
    max-width: 5rem;
}

.photo {
    max-height: 100%;
    max-width: 100%;
}

/*.item {*/
/*    margin: 0.3rem;*/
/*    padding: 0.2rem;*/
/*    background-color: #fff;*/
/*    border: 1px solid black;*/
/*    height: 2.3rem;*/
/*    position: relative;*/
/*    display: flex;*/
/*}*/

.item p {
    width: 45%;
}

.imgBox {
    margin-left: 2rem;
    max-height: 100%;
    max-width: 4rem;
}

.thumbnail {
    max-height: 100%;
}

.checkBox {
    margin-left: 2rem;
    height: 2rem;
}

.infoPart {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.controlPane {
    height: 3rem;
    background: #e0cfb5;
    display: flex;
    justify-content: right;
}

.btn {
    height: 2rem;
    margin: auto 2rem;
    border-radius: 1rem;
}

.cancel_btn {

}

.delete_btn {
    background-color: #d26161;
}

.items_chosen {
    font-size: 1.2rem;
    margin-top: 1rem;
}

/*.newProductLink {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    width: auto !important;*/
/*    height: 100%;*/
/*    font-size: 2rem;*/
/*}*/