
.list_form_div {
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.input_div {
    width: 38rem;
    display: flex;
    align-items: center;
}

.input_div input {
    width: 30rem;
    margin-left: auto;
}
