
:root {
  --c_white: #fff;
  --c_grey: #A4ACA5;
  --c_orange: #c55a03;
  --c_bright_orange: #f8cca4;
  --c_transparent_orange: rgba(234, 99, 5, 0.82);
  --c_black_purple: #25192B;
  overflow-x: hidden;
}

body, .root, .middle_pane {
  position: relative;
  height: fit-content;
}

button {
  background-color: var(--c_transparent_orange);
  border: 1px solid lightgrey;
  color: black;
}

button:hover {
  opacity: 0.5;
}
/*thumbnails in slider*/
._t1897 {
  object-fit: contain !important;
}

@media screen and (max-width: 1024px) {
  /*maximize btn*/
  ._1oKnM {
    top: 10% !important;
    right: 5% !important;
  }

  ._3WRGR {
    width: 3rem;
    height: 3rem;
  }
}

.App {
  /*text-align: center;*/
  font-family: 'Rubik', inherit;
  background-color: var(--c_white);
  min-height: 100%;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 40px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}
