
.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    margin: 2rem;
    font-size: 3rem;
}

.label {
    margin: 1rem;
    font-size: 1.5rem;
}

.input {
    font-size: 1.3rem;
    padding: 0.5rem;
}

.btn {
    position: relative;
    top: 1px;
    font-size: 1.5rem;
    padding: 0.4rem;
}
