.photo {
    max-width: 100%;
    max-height: 100%;
}

.images_list_item {
    display: flex;
}

.color_name {
    margin: 0 1rem;
}

.itemImg {
    /*max-height: 100%;*/
    margin: 0 2rem;
}

.photoPane {
    /*margin: 1rem;*/
    /*border: 1px solid black;*/
}

.photo_form {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo_form h2 {
    text-align: center;
    font-size: 1.3rem;
}

.input_block {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}
.input_block label {
    display: block;
}