.text_edit_item {
    margin-left: 1rem;
    /*max-height: 15rem;*/
    padding: 0.5rem;
}

.input_block {
    position: relative;
    width: 100%;

}

.text_edit_item input {
    max-height: 1.5rem;
}

.text_edit_item textarea {
    width: 98%;
    display: block;
}

.text_edit_item button {
    padding: 0.3rem;
    width: 5rem;
}

.form_container {
    width: 90%;
    height: 2.8rem;
    max-height: fit-content;
    overflow: hidden;
}

.open_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}