
.container {
    position: relative;
}

.menu_box {
    position: absolute;
    top: 2.5rem;
    left: 0;
    display: block;
    z-index: 10;
    width: 12rem;
    background-color: #f3f2f2;
    border: 1px solid grey;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.55);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.hidden {
    display: none !important;
}

.item {
    margin: 0.4rem 0.1rem;
    padding: 0.5rem;
    background-color: var(--c_bright_orange);
    border: 1px solid grey;
    border-radius: 0.3rem;
    overflow: hidden;
}

.item:hover {
    opacity: 0.5;
}

.x_btn {
    border: none;
    /*font-size: 2rem;*/
    /*font-family: 'Kanit', sans-serif;*/
    position: absolute;
    top: -0.5rem;
    right: 0;
    background-color: transparent;
}

.x_btn:after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
    font-size: 2.5rem;
    font-weight: bolder;
}

.reset_btn {
    border: 1px solid grey;
    border-radius: 0.4rem;
    display: block;
    margin: 0 0.1rem;
    height: 1.5rem;
    width: 85%;
    background-color: var(--c_grey);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
}

.open_btn{
    font-weight: bolder;
    font-size: 1.2rem;
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
    margin-bottom: 1rem;
}