
.main_box {
    display: flex;
    margin: 1rem;
}

.info_box {
    flex-grow: 3;
}

.gallery {
    width: 70%;
    min-width: 20rem;
}

.colors {
    margin: 0.2rem;
}

.name {
    font-size: 1.5rem;
    align-self: center;
}

.nameDiv {
    margin-top: 2rem;
    width: 100%;
}

.price_box {
    margin-left: 1rem;
    text-align: left;
}

.price {
    font-size: 1.5rem;
}

.extra_box {
    padding: 1rem;
    background-color: #cadafa;
}